.mobile-container {
  width: 310px;
  margin: auto;
}

a {
    text-decoration: none;
    color: rgb(160, 18, 18);
}

.card-product {
  overflow: hidden;
  height: 164px;
  width: 290px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 7px;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

body {
  background-image: url("hotel.jpg");
  background-size: 361px;
  background-repeat: repeat-y;
  background-position: top;
  background-position-x: center;
}
